<h1>Oskar Forssman Lotto!!</h1>


  <button onclick="myFunction()">Click me</button>  


  <p id="demo"> 
  </p>
  
<script>
function myFunction() {
 
    document.getElementById("demo").innerHTML= '<%=lotonumb%>';
    
}
</script>