@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>Den här uppgiften handlar om .net och asp en lättare uppgift hur man skapar en restful api i .net asp.</p>